name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.24.9'

      - name: Format check
        run: make fmt

      - name: Run linter
        run: make vetlint

      - name: Run vulnerability scan
        run: make vulncheck

      - name: Run tests
        run: make test
